/*some variables fpr placing items */
/*IMPORT MEDIA QUERIES AT BOTTOM OF FILE TO LET THEM OVERWRITE EXISING VALUES */
.ARTICLE_RESPONSIVE {
  position: relative;
  width: 47%;
  min-width: 300px;
  display: none; }

.ARTICLE_RESPONSIVE img {
  width: 100%; }

/*----------------------------------------------------------------------------------*/
 * /*---------------------------------------------------------------------------------- */
* {
  margin: 0; }

.BANNER_03 {
  width: 10%;
  margin-top: 15px; }

.BANNER_03 img {
  width: 100%;
  height: 100%; }

.WRAPPER_BIG-news-block {
  display: flex;
  width: 100%; }

.BIG-NEWS-BLOCK {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px; }

.BIG-NEWS-LINE {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px; }

.ARTICLE_02 {
  position: relative;
  width: 47%;
  min-width: 300px; }

.ARTICLE_02 img {
  width: 100%; }

/*---------------------------------------------------------------------------------- */
.WRAPPER-MAIN {
  margin: 20px 20px 0 20px; }

/*---------------------------------------------------------------------------------- */
.BANNER_02 {
  text-align: center;
  margin-top: 20px;
  /*removed flex because display:none does not work in media-query on flex elements */
  /*	display: flex */
  /*	justify-content: space-around centers the image in parent */ }

.BANNER_02 img {
  width: 90%;
  height: 100%; }

.BANNER_01 {
  width: 10%; }

.BANNER_01 img {
  width: 100%;
  height: 100%; }

.WRAPPER_small-news-block {
  display: flex;
  width: 100%; }

.TEXT-LINE {
  display: flex;
  align-items: center;
  color: #4C4C4C;
  background-color: #DDDDDD;
  height: 1.5em;
  font-size: 1.5em;
  padding-left: 0.5em;
  margin-top: 15px;
  margin-bottom: 15px; }

.SMALL-NEWS-BLOCK {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px; }

.SMALL-NEWS-LINE {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.ARTICLE {
  position: relative;
  width: 30%;
  min-width: 200px; }

.ARTICLE img {
  width: 100%; }

.IMAGE-CAPTION {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  min-height: 60px;
  font-size: 0.5em;
  font-weight: bold; }

.IMAGE-CAPTION p {
  padding-left: 0.5em;
  font-size: 1.5em; }

/*SWITCH THE LAYOUT AT BREAKING POINT OF 800px WIDTH */
/*some variables fpr placing items */
@media screen and (max-width: 800px) {
  .WRAPPER_small-news-block, .WRAPPER_BIG-news-block {
    justify-content: center; }

  .SMALL-NEWS-BLOCK, .BIG-NEWS-BLOCK {
    width: 100%;
    margin-right: 0; }

  .ARTICLE_02 {
    display: none; }

  .BIG-NEWS-LINE {
    margin-top: 0; }

  .TEXT-LINE {
    margin-bottom: 0; }

  .ARTICLE_RESPONSIVE {
    display: inline; }

  .SMALL-NEWS-LINE {
    flex-flow: wrap; }

  .ARTICLE, .ARTICLE_02, .ARTICLE_RESPONSIVE {
    position: relative;
    width: 47%;
    min-width: 300px;
    margin-top: 15px;
    min-width: 0px; }

  .BANNER_01, .BANNER_02, .BANNER_03 {
    display: none; } }

/*# sourceMappingURL=main_style.css.map */
